.log-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 9%;
    height: auto;
}

.log-arrow-back {
    border: none;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.2s;
}
.log-arrow-back:hover {
    transform: scale(1.05);
}

.log-form-container {
    justify-content: center;
    margin-right: 50px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.login-form {
    margin-top: 10%;
    margin-bottom: 10%;
    margin: 5%;
    max-width: 30%;
}

.log-form-group{
    margin-bottom: 10px;
}
.log-form-group input {
    outline: none;
    border: 1px solid rgb(189, 185, 185);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.forgot-password {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

.log-button-REG {
    font-size: 15px;
    padding: 10px 40px 10px 40px;
    background-color: #0300AD;
    color: white;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    transition: 0.15s;
    float: right;
}
.log-button-REG:hover {
    background-color: #0704db;
}
.log-button-REG:active {
    padding: 9px 39px 9px 39px;
    background-color: white;
    color: #0704db;
    border: 1px solid #0704db;
}

.log-right-bg {
    margin: 10px auto;
    border-radius: 20px;
    position: absolute;
    height: 97%;
    background-color: #415FE7;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: 40%;
    overflow: hidden;
}
.log-right-bg img {
    position: absolute;
    max-width: 100%;
    height: auto;
    bottom: -5%;
    left: -5%;
}

.log-message-box {
    position: absolute;
    border-radius: 10px;
    bottom: 3%;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 35%;
    opacity: 0.8;
    background-image: linear-gradient(to right, #3657e9, #6071be, #153ae0) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-vector {
    background-color: #0704db;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-left: 20%;
    top: 65%;
    height: auto;
}

#log-h3 {
    color: white;
    margin-top: 15%;
    margin-left: 0%;
    margin-top: 80px;
    height: auto;
}

.log-message-box p {
    font-size: 15px;
    color: white;
    height: auto;
    margin-bottom: 10%;
    max-width: 400px;
}

.not-register {
    font-size: 15px;
    margin-top: 30%;
    text-align: center;
}