.reg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 9%;
    height: auto;
}

.arrow-back {
    border: none;
    border-radius: 10px;
    margin: 10px;
    transition: 0.15s;
    color: #0704db;
}
.arrow-back:hover {
    background-color: #b9b4b4;
}
.arrow-back:active {
    background-color: #8f8b8b;
    color: white;
}

.form-container {
    justify-content: center;
    margin-right: 50px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.register-form {
    margin-top: 10%;
    margin-bottom: 10%;
    margin: 5%;
    max-width: 30%;
}

.reg-form-group{
    margin-bottom: 10px;
}
.reg-form-group input {
    border: 1px solid rgb(189, 185, 185);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    outline: none;
}

.reg-button-REG {
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #0300AD;
    color: white;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    transition: 0.15s;
    float: right;
}
.reg-button-REG:hover {
    background-color: #0704db;
}
.reg-button-REG:active {
    padding: 9px 19px 9px 19px;
    background-color: white;
    color: #0704db;
    border: 1px solid #0704db;
}

.right-bg {
    margin: 10px auto;
    border-radius: 20px;
    position: absolute;
    height: 97%;
    background-color: #415FE7;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-left: 40%;
    overflow: hidden;
}
.right-bg img {
    position: absolute;
    max-width: 115%;
    height: auto;
    bottom: 0;
    left: -15%;
}

.message-box {
    position: absolute;
    border-radius: 10px;
    bottom: 3%;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 35%;
    opacity: 0.8;
    background-image: linear-gradient(to right, #3657e9, #6071be, #3657e9) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vector {
    background-color: #0704db;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-left: 30%;
    top: 65%;
    height: auto;
}

#h3 {
    color: white;
    margin-top: 15%;
    margin-left: 0%;
    margin-top: 80px;
    height: auto;
}

.message-box p {
    font-size: 15px;
    color: white;
    height: auto;
    margin-bottom: 10%;
    max-width: 400px;
}