.register-app {
    height: max-content;
}

.register-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.040);
}

.register-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 30px 0; */
}

.register-content .register-left-side {
    max-width: 500px;
    min-width: 270px;
    overflow: hidden;
    padding: 10px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

.register-form {
    margin-top: 10%;
    margin-bottom: 10%;
    margin: 5% auto;
}

.reg-form-group{
    margin-bottom: 10px;
}

.reg-form-group input {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.144);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    outline: none;
}

.error-message {
    color: red;
    font-size: 16px;
}

.reg-button-REG {
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #0300AD;
    color: white;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    transition: 0.15s;
    float: right;
}
.reg-button-REG:hover {
    background-color: #0704db;
}
.reg-button-REG:active {
    padding: 9px 19px 9px 19px;
    background-color: white;
    color: #0704db;
    border: 1px solid #0704db;
}

.register-content .box {
    max-width: 600px;
    min-width: 290px;
    border-radius: 10px;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.right-bg {
    height: 100%;
    width: 100%;
    background-color: #415FE7;
    border-radius: 10px;
    overflow: hidden;
    background-size: contain;
    position: relative;
}

.right-img {
    max-width: 700px;
    min-width: 270px;
    height: min-content;
    margin-top: 25%;
}

.text-box {
    width: 75%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(3, 0, 173, 0.815), rgba(78, 75, 255, 0.849), rgba(3, 0, 173, 0.815));
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.message-box .message-logo {
    width: 50px;
}

.message-box h3 {
    color: white;
    font-weight: bold;
}

.message-box p {
    width: 90%;
    color: white;
    font-size: 15px;
}