.user-profile {
    max-width: 1200px;
    width: 100%;
    box-shadow: 0 0 5px #00000015;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

.back-btn {
    padding: 0;
    border: 1px solid #cdcddf;
    transition: transform 0.2s, border 0.2s;
}
.back-btn:hover {
    transform: scale(1.05);
    border: 1px solid #cdcddf;
}

.profile-data {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.profile-data .profile-pic {
    max-width: 500px;
    min-width: 290px;
    height: fit-content;
    overflow: hidden;
    margin: 25px;
    box-shadow: 0 0 5px #0000003a;
    /* border: solid 1px rgba(110, 110, 110, 0.178); */
    border-radius: 10px;
}

.profile-pic .img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    max-width: 300px;
    display: block;
    border: solid 5px rgba(255, 255, 255, 0.178);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}
.img:hover {
    transform: scale(1.05);
}

.save-btn {
    border: 1px solid #0300ad;
    background-color: #0300ad;
    color: white;
    transition: background-color 0.2s, color 0.2s;
}
.save-btn:hover {
    background-color: white;
    color: #0300ad;
}

.cancel-btn {
    border: 1px solid #0300ad;
    background-color: white;
    color: #0300ad;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}
.cancel-btn:hover {
    border: 1px solid red;
    background-color: red;
    color: white;
}

.profile-data .box {
    max-width: 600px;
    min-width: 290px;
    border-radius: 10px;
}

.box .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.forms {
    border: none;
    box-shadow: 0 0 5px #0000003a;
    padding: 15px;
    border-radius: 10px;
}

.gender-form {
    box-shadow: 0 0 5px #0000003a;
    width: fit-content;
    border-radius: 20px;
}

.gender-btn {
    text-align: center;
    width: 110px;
    border-radius: 20px;
    font-weight: bold;
}

.gender-bg {
    background-color: #0300ad;
}

.gender-style {
    margin-top: 12px;
}

.gender-style2 {
    font-size: 15px;
}

.gender-white {
    color: white;
    font-size: 15px;
}

.change-password-btn {
    background-color: #0300ad;
    border: #0300ad 1px solid;
    border-radius: 10px;
    padding: 10px;
}