.footer-app {
    background-color: #ebf2f4;
}

.footer-menu1 {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 15px;
    font-weight: bold;
    transition: color 0.2s;
}
.footer-menu1:hover {
    color: blue;
}
.footer-menu1:active {
    color: white;
}

.footer-menu2 {
    text-decoration: none;
    color: rgb(66, 66, 66);
    transition: color 0.2s;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.footer-menu2:hover {
    color: blue;
}
.footer-menu2:active {
    color: white;
}

.footer-menu3 {
    text-decoration: none;
    color: rgb(66, 66, 66);
    transition: color 0.2s;
    font-size: 15px;
    font-weight: bold;
}
.footer-menu3:hover {
    color: blue;
}
.footer-menu3:active {
    color: white;
}

.copyright {
    background: linear-gradient(#ebf2f4, #cfe7ff);
    color: black;
}

.my-link {
    color: black;
    transition: color 0.2s;
}

.my-link:hover {
    color: blue;
}