@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito&family=Nunito+Sans:opsz@6..12&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: #484e53 transparent;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: blue; 
  border-radius: 10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
